<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" src="../../public/style.css">
  <title>Tech Blog</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper teal lighten-3">
        <a href="#" class="brand-logo">Tech Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

</body>
</html>