<h2>Dashboard</h2>

<main class="blog-posts">
    {{#each posts}}
        <div class = "blog-post">
            <h4>{{title}}</h4>
            <p>{{text}}</p>
        </div>
    {{/each}}
</main>

<form id="postForm" >
    <input name="title" type="text" placeholder="Title" id="title">
    <textarea name="text" type="text" placeholder="Write your post" rows="10" id="text"></textarea>
    <button type="submit">Add post</button>
</form>

<script src="/js/addPost.js"></script>