<div class="row">
    <h4 class="center-align">Log in</h4>
</div>

<div class="form-container">
    <form id="login_form" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label for="username">Username</label>
                <input name="userName" id="username" type="text">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="password">Password</label>
                <input name="password" id="password" type="password">
            </div>
        </div>
        <div>
            <button id="confirmBtn" type="submit">Submit</button>
        </div>
    </form>
</div>


<script src="/js/login.js"></script>