<div class="row">
    <h2>Sign up for an account</h2>
    <form action="/register" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Enter your username" id="username" type="text">
                <label for="first_name">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter your email" id="email" type="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter your password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
    </form>
</div>